<div class="container-fluid d-flex align-items-center forgot-container row">
  <mat-card class="forgot-card p-4 col-md-5">
    <div>
      <!--     <span class="d-flex justify-content-center">
            <img src="../../../../../assets/Images/10173532.jpg" class="image" alt="" srcset="">
        </span> -->
      <mat-card-title class="title-card" style="font-size: 35px"
        >Recuperación de contraseña</mat-card-title
      >
      <div class="container-first">
        <div class="container-centered">
          <section class="">
            <form
              style="display: inline-flex; flex-direction: column; width: 100%"
              [formGroup]="changePasswordForm"
            >
              <!-- <mat-form-field style="width: 100%;" appearance="outline">
                    <mat-label>Ingresa tú correo electronico.</mat-label>
                    <input oncopy="return false;" matInput formControlName="email">
                    <mat-error *ngIf="changePasswordForm.controls['email'].hasError('required')">Este campo es
                        obligatorio</mat-error>
                    <mat-error *ngIf="changePasswordForm.controls['email'].hasError('email')">Ingrese un email
                        valido</mat-error>
                </mat-form-field> -->
              <div class="col-6" style="width: 100%">
                <div style="color: white">
                  <label for="exampleFormControlInput1" class="form-label me-2"
                    >¿Olvidaste tu contraseña?</label
                  >
                  <p>Restablece tu contraseña</p>
                </div>
                <input
                  type="text"
                  class="form-control"
                  formControlName="email"
                  id="exampleFormControlInput1"
                  placeholder="correo@ejemplo.com"
                  style="background-color: transparent; color: white;"
                />
              </div>
              <span
                style="height: 20px; margin-top: 5px; width: 100%"
                class="text-danger"
              >
                {{
                  changePasswordForm.controls["email"].touched &&
                  !changePasswordForm.get("email").value
                    ? "Este campo es obligatorio"
                    : ""
                }}
                {{
                  changePasswordForm.controls["email"].touched &&
                  changePasswordForm.controls["email"].hasError("email")
                    ? "Ingrese un correo valido"
                    : ""
                }}
              </span>
              <!-- <mat-form-field class="mt-3" style="width: 100%;" appearance="outline">
                    <mat-label>Confirma tú correo electronico.</mat-label>
                    <input onpaste="return false;" matInput formControlName="confirmEmail">
                    <mat-error *ngIf="changePasswordForm.controls['confirmEmail'].hasError('required')">Este campo es
                        obligatorio</mat-error>
                    <mat-error *ngIf="changePasswordForm.controls['confirmEmail'].hasError('email')">Ingrese un email
                        valido</mat-error>
                    <mat-error
                        *ngIf="changePasswordForm.get('confirmEmail').value !== changePasswordForm.get('email').value">El
                        email no coincide</mat-error>
                </mat-form-field> -->
            </form>
          </section>
          <mat-card-actions align="end" style="padding: 0">
            <button
              class="btn"
              style="
                width: 100%;
                background-color: #d87043;
                color: white;
                border: none;
              "
              (click)="sendEmail()"
              [disabled]="changePasswordForm.invalid"
            >
              Enviar correo de recuperación
            </button>
          </mat-card-actions>
        </div>
      </div>
    </div>
  </mat-card>
</div>
