@import "./../../../../variables.scss";
.container-fluid {
  margin: 0;
  padding: 0;
}

.forgot-container {
  background-image: url("../../../../../assets/Images/login-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.title-card {
  font-family: $primary-font;
  color: $primary-color;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  height: 50%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.forgot-card {
  background-color: rgba(84, 84, 84, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center; /* Aligns children vertically in the center */
  align-items: center; /* Aligns children horizontally in the center */
  height: 100vh;
}

.image {
  width: 50%;
  object-fit: cover;
}

.user-email {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* estándar */
}

.container-first {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.container-centered {
  justify-content: center;
  align-items: center;
  width: 80%;
}

input::placeholder {
  color: white;
  opacity: 1; /* Override any default styles that might make it slightly transparent */
}
