<aside class="sidebar">
  <div class="logo-container">
    <!-- Your logo here -->
    <img src="../../../assets/Images/logo2.svg" alt="Logo" class="logo" />
  </div>
  <nav class="navigation">
    <a mat-list-item routerLink="usuarios" routerLinkActive="active">
      <mat-icon>person</mat-icon>
    </a>
    <a mat-list-item routerLink="transactions" routerLinkActive="active">
      <mat-icon svgIcon="transactions"></mat-icon>
    </a>
    <a mat-list-item routerLink="logs" routerLinkActive="active">
      <mat-icon>work_outline</mat-icon>
    </a>
    <a mat-list-item routerLink="/settings" routerLinkActive="active">
      <mat-icon>settings</mat-icon>
    </a>
  </nav>
</aside>
