@import "./../../../../variables.scss";

.container-fluid {
  margin: 0;
  padding: 0;
}

.forgot-container {
  background-image: url("../../../../../assets/Images/login-bg.png");
  min-height: 100vh;
  width: 100vw;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.title-card {
  font-family: $primary-font;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
  height: 5%;
  width: 100%;
}

.forgot-card {
  background-color: rgba(84, 84, 84, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center; /* Aligns children vertically in the center */
  align-items: center; /* Aligns children horizontally in the center */
  height: 100vh;
}

.image {
  width: 35%;
  object-fit: cover;
}

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  /* Estilos específicos para pantallas de laptop */
  .forgot-card {
  }

  .image {
    width: 20%;
    object-fit: cover;
  }
}

@media only screen and (max-width: 1027px) {
  /* Estilos específicos para pantallas de laptop */
  .forgot-card {
  }

  .image {
    width: 20%;
    object-fit: cover;
  }
}

.user-email {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* estándar */
}

.container-change-title {
  color: white;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.instructions-title {
  font-family: $primary-font;
  text-align: center;
}

.password-requirement {
  font-family: $primary-font;
  font-size: 0.7rem;
}

.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffffff; /* Placeholder text color */
  opacity: 1; /* Placeholder text opacity */
}

.input-group-text {
  background-color: transparent;
  width: 10%;
}

.ng-fa-icon {
  width: 1em; 
  height: 1em; 
  font-size: 1em;
}
