<div class="container-fluid d-flex align-items-center forgot-container row">
  <mat-card class="forgot-card p-4 col-md-5">
    <section class="d-flex justify-content-center">
      <img
        src="../../../../../assets/Images/logo2.svg"
        class="image"
        alt=""
        srcset=""
      />
    </section>
    <mat-card-title class="title-card" style="font-size: 35px; height: 100px"
      >Recuperación de contraseña</mat-card-title
    >
    <div style="width: 75%">
      <div class="container-change-title">
        <p style="font-size: 18px">¿Olvidaste tu contraseña?</p>
        <p style="font-size: 15px">Restablece tu contraseña</p>
      </div>
      <section class="row">
        <section class="col-sm-12 d-flex align-items-center">
          <form
            [formGroup]="newPasswordForm"
            style="display: inline-flex; flex-direction: column; width: 100%"
          >
            <!-- <mat-form-field style="width: 100%;" appearance="outline">
                        <mat-label>Ingresa tú nueva contraseña.</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" #passwordInput
                            formControlName="new_password" autocomplete="new-password">
                        <button mat-icon-button matSuffix tabindex="-1" (click)="hide = !hide" type="button">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="newPasswordForm.controls['new_password'].hasError('required')">Este campo es
                            obligatorio</mat-error>
                        <mat-error *ngIf="newPasswordForm.controls['new_password'].hasError('pattern')">La contraseña no
                            coincide con el formato requerido.</mat-error>
                    </mat-form-field> -->
            <div class="input-group mb-3" style="width: 100%">
              <div class="input-group">
                <input
                  formControlName="new_password"
                  [type]="hide ? 'password' : 'text'"
                  class="form-control"
                  id="floatingInputGroup1"
                  placeholder="Contraseña"
                  style="
                    background-color: transparent;
                    color: white;
                    border-right: none;
                  "
                />
                <span
                  (click)="hide = !hide"
                  class="input-group-text"
                  style="border-left: none"
                >
                  <fa-icon
                    style="color: #d87043; border-radius: 0px"
                    [icon]="hide ? faEyeSlash : faEye"
                  ></fa-icon>
                </span>
              </div>
              <span
                style="height: 20px; margin-top: 5px; width: 100%"
                class="text-danger"
              >
                {{
                  newPasswordForm.controls["new_password"].touched &&
                  !newPasswordForm.get("new_password").value
                    ? "Este campo es obligatorio"
                    : ""
                }}
                {{
                  newPasswordForm.controls["new_password"].touched &&
                  newPasswordForm.controls["new_password"].hasError("pattern")
                    ? "Ingrese una contraseña valida"
                    : ""
                }}
              </span>
            </div>

            <div class="input-group mb-3">
              <div class="input-group">
                <input
                  formControlName="new_password_confirm"
                  [type]="hide ? 'password' : 'text'"
                  class="form-control"
                  id="floatingInputGroup1"
                  placeholder="Confirmar contraseña"
                  style="
                    background-color: transparent;
                    color: white;
                    border-right: none;
                  "
                />
                <span
                  (click)="hide = !hide"
                  class="input-group-text"
                  style="border-left: none"
                >
                  <fa-icon [icon]="hide ? faEyeSlash : faEye"></fa-icon>
                </span>
              </div>
              <span
                style="height: 20px; margin-top: 5px; width: 100%"
                class="text-danger"
              >
                {{
                  newPasswordForm.controls["new_password_confirm"].touched &&
                  !newPasswordForm.get("new_password_confirm").value
                    ? "Este campo es obligatorio"
                    : ""
                }}
                {{
                  newPasswordForm.controls["new_password_confirm"].touched &&
                  newPasswordForm.controls["new_password_confirm"].hasError(
                    "pattern"
                  )
                    ? "Ingrese una contraseña valida"
                    : ""
                }}
                {{
                  newPasswordForm
                    .get("new_password_confirm")
                    .value.toLowerCase() !==
                  newPasswordForm.get("new_password").value.toLowerCase()
                    ? "Las contraseñas no coinciden"
                    : ""
                }}
              </span>
            </div>
            <!-- <mat-form-field class="mt-3" style="width: 100%;" appearance="outline">
                        <mat-label>Confirma tú contraseña.</mat-label>
                        <input matInput [type]="hide2 ? 'password' : 'text'" #passwordInput2
                            formControlName="new_password_confirm">
                        <button mat-icon-button matSuffix tabindex="-1" (click)="hide2 = !hide2" type="button">
                            <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="newPasswordForm.controls['new_password_confirm'].hasError('required')">Este
                            campo
                            es obligatorio</mat-error>
                        <mat-error *ngIf="newPasswordForm.controls['new_password_confirm'].hasError('pattern')">La
                            contraseña no coincide con el formato requerido.</mat-error>
                            <mat-error *ngIf="newPasswordForm.get('new_password_confirm').value !== newPasswordForm.get('new_password').value">Las
                                contraseñas no coinciden.</mat-error>
                    </mat-form-field> -->
          </form>
        </section>
        <mat-card-actions class="mt-2" align="end">
          <button
            class="btn"
            (click)="setPassword()"
            style="
              width: 100%;
              background-color: #d87043;
              color: white;
              border: none;
            "
            [disabled]="
              newPasswordForm.invalid ||
              newPasswordForm
                .get('new_password_confirm')
                .value.toLowerCase() !==
                newPasswordForm.get('new_password').value.toLowerCase()
            "
          >
            Continuar
          </button>
        </mat-card-actions>
      </section>
    </div>
  </mat-card>
</div>
