<div class="container-fluid" style="position: relative; width: 100%; height: 200px; overflow: hidden;">
    <div class="latest-videos" #scrollContainer
        style="height: 100%; margin: 0; width: 100%; overflow-x: hidden; display: flex; flex-direction: row; position: relative;">
        <div class="col-auto me-5">
            <div class="card"
                style="height: 100%; width: 350px; background: url('../../../../assets/Images/portada-template.png'); background-position: center; background-size: cover;">
                <div class="card-body d-flex justify-content-center align-items-center">
                    <fa-icon class="play-video" [icon]="faCirclePlay"></fa-icon>
                </div>
            </div>
        </div>
        <div class="col-auto me-5">
            <div class="card"
                style="height: 100%; width: 350px; background: url('../../../../assets/Images/portada-template.png'); background-position: center; background-size: cover;">
                <div class="card-body d-flex justify-content-center align-items-center">
                    <fa-icon class="play-video" [icon]="faCirclePlay"></fa-icon>
                </div>
            </div>
        </div>
        <div class="col-auto me-5">
            <div class="card"
                style="height: 100%; width: 350px; background: url('../../../../assets/Images/portada-template.png'); background-position: center; background-size: cover;">
                <div class="card-body d-flex justify-content-center align-items-center">
                    <fa-icon class="play-video" [icon]="faCirclePlay"></fa-icon>
                </div>
            </div>
        </div>
        <div class="col-auto me-5">
            <div class="card"
                style="height: 100%; width: 350px; background: url('../../../../assets/Images/portada-template.png'); background-position: center; background-size: cover;">
                <div class="card-body d-flex justify-content-center align-items-center">
                    <fa-icon class="play-video" [icon]="faCirclePlay"></fa-icon>
                </div>
            </div>
        </div>
        <div class="col-auto me-5">
            <div class="card"
                style="height: 100%; width: 350px; background: url('../../../../assets/Images/portada-template.png'); background-position: center; background-size: cover;">
                <div class="card-body d-flex justify-content-center align-items-center">
                    <fa-icon class="play-video" [icon]="faCirclePlay"></fa-icon>
                </div>
            </div>
        </div>
        <div class="col-auto me-5">
            <div class="card"
                style="height: 100%; width: 350px; background: url('../../../../assets/Images/portada-template.png'); background-position: center; background-size: cover;">
                <div class="card-body d-flex justify-content-center align-items-center">
                    <fa-icon class="play-video" [icon]="faCirclePlay"></fa-icon>
                </div>
            </div>
        </div>
        <div class="col-auto me-5">
            <div class="card"
                style="height: 100%; width: 350px; background: url('../../../../assets/Images/portada-template.png'); background-position: center; background-size: cover;">
                <div class="card-body d-flex justify-content-center align-items-center">
                    <fa-icon class="play-video" [icon]="faCirclePlay"></fa-icon>
                </div>
            </div>
        </div>
        <div class="col-auto me-5">
            <div class="card"
                style="height: 100%; width: 350px; background: url('../../../../assets/Images/portada-template.png'); background-position: center; background-size: cover;">
                <div class="card-body d-flex justify-content-center align-items-center">
                    <fa-icon class="play-video" [icon]="faCirclePlay"></fa-icon>
                </div>
            </div>
        </div>
        <div class="col-auto me-5">
            <div class="card"
                style="height: 100%; width: 350px; background: url('../../../../assets/Images/portada-template.png'); background-position: center; background-size: cover;">
                <div class="card-body d-flex justify-content-center align-items-center">
                    <fa-icon class="play-video" [icon]="faCirclePlay"></fa-icon>
                </div>
            </div>
        </div>
        <div class="col-auto me-5">
            <div class="card"
                style="height: 100%; width: 350px; background: url('../../../../assets/Images/portada-template.png'); background-position: center; background-size: cover;">
                <div class="card-body d-flex justify-content-center align-items-center">
                    <fa-icon class="play-video" [icon]="faCirclePlay"></fa-icon>
                </div>
            </div>
        </div>
        <!-- Contenido de latest-videos aquí -->
    </div>
    <div class="controls"
        style="position: absolute; top: 0; left: 0; right: 0; width: 100%; display: flex; flex-direction: row; justify-content: space-between; pointer-events: none;">
        <button (click)="scrollLeft()" style="height: 200px; pointer-events: all;">
            <fa-icon [icon]="faChevronLeft"></fa-icon>
        </button>
        <button (click)="scrollRight()" style="height: 200px; pointer-events: all;">
            <fa-icon [icon]="faChevronRight"></fa-icon>
        </button>
    </div>
</div>