@import "./../../../../variables.scss";

.nuevo-video-title{
  font-family: $primary-font;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: $primary-green;
  margin: 0;
}

.header-titles {
  font-family: $primary-font;
  color: $primary-green;
  font-weight: bold;
}

.mat-expansion-panel-spacing {
  margin: 0;
}

.mat-expansion-panel-header.mat-expanded {
  height: 48px;
}

.mat-accordion .mat-expansion-panel:first-of-type {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.active-video-icon {
  transform: rotate(180deg);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 800ms;
  color:#fff
}

.inactive-video-icon {
  transform: rotate(0deg);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 1200ms;
  color: $primary-green
}

.active-more-vert {
  color: #fff
}

.inactive-more-vert {
  color: #000
}

.isActive {
  color: #fff
}

.video-titulo{
  font-family: $primary-font;
  font-weight: bold;
}

.overflow-ellipsis {
  text-overflow: ellipsis;
  font-family: $primary-font
}

.ultima-edicion{
  font-family: $primary-font
}

.form-label{
  font-size: 1rem;
}
